@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="wrapper" class="container">
    
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>

    <p>
        This application will retrieve Broker information for Helpdesk.
    </p>
    <p>
        Tools: MVC 4, jQuery, Entity Framework, CSS 3, HTML 5, C#
    </p>
    <p>
        Author: Joseph Joaquin
    </p>
</div>

