<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BrassEntities" connectionString="metadata=res://*/Brass.csdl|res://*/Brass.ssdl|res://*/Brass.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TXDADBMSDEV\PRD2;initial catalog=Brass;persist security info=True;user id=bmall_t3xa5;password=M3r1d1@n1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BenefitMallDNNEntities" connectionString="metadata=res://*/BmallDnn.csdl|res://*/BmallDnn.ssdl|res://*/BmallDnn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TXDADBMSDEV\PRD2;initial catalog=BenefitMallDNN;persist security info=True;user id=bmall_t3xa5;password=M3r1d1@n1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>